@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <img class="castleImg" src="@Url.Content("~/images/castle.png")">
    <h1>RPG API</h1>
    <a class="btn btn-primary btn-lg text-white homeBtn" href="/Usuarios">Entrar</a>
</div>
