@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <img class="castleImg" src="@Url.Content("~/images/castle.png")">
        <h1>RPG API</h1>
</div>
